.card{
  width: 200px;
  height:400px;
  border: 1px solid black;
  margin-left: 50px;
  text-align: center;
}

.card__container{
  display:flex;
  flex-wrap:wrap;
}

.green{
  color:green;
}
.red{
  color:red;
}

.App{
  text-align: center;
}